* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    background: linear-gradient(
    90deg,
    rgb(77, 142, 216, 1) 0%, 
    rgb(84, 240, 188) 100%
    );
    display: grid;
    place-items: center;
    min-height: 100vh;
}

section {
    display: grid;
    place-items: center;
}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 50px;
}

p {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.box {
    padding: 10px;
    font-size: 50px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.box .fa {
    margin: auto;
}

.fa-close {
    color: #c00;
}

.fa-circulo::before {
    content: "O" !important;
    font-family: "Urbanist", sans-serif !important;
    color: #215f94;
}

button {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
}

#botao1 {
    background: rgb(15, 255, 135);
    padding: 5px 25px;
}

#botao2 {
    background: #215f94;
    padding: 5px 11px;
}